<p id="notice"><%= notice %></p>

<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>


<ul>
 <% @ratings.each do |rating| %>
     <% user = User.find(rating.user_id)%>
    <li> <%= rating %> <%= link_to user.username, user %></li>
 <% end %>
</ul>


